body{
    background:#f3f3f3;
    color:#333;
    width:100%;
    font-family:Times-New-Roman;
    margin:0 auto;
}

.header{
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px;
    backgorund:cyan;
    color:#fff;
}




















